<aside>
    <p>Please select a category: </p>
    <select [(ngModel)]='selectedItem' (change)="selectItem($event)"> 
        <option *ngFor='let item of urlOptions' [value]="item.valueUrl">{{item.optionText}}</option></select>
        

    <p> Selected Website: {{selectedItem}}</p>

    <input type="number" min="100" max="800" step="10" [(ngModel)]='myWidth' />
    <input type="number" min="100" max="800" step="10" [(ngModel)]='myHeight' />
    <button (click)="submitUrl($event)">GO</button>
    <p> URL: {{combined}}</p>
    <img [src]='combined' />
    
</aside>