<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-dropdownlist (select)='action($event.value)'>This is my list</app-dropdownlist>
</div>
